<!-- prettier-ignore -->
{% extends "base/base.html" %}

{% block content %}
<form
    class="flex w-full flex-col items-center justify-center gap-3 py-10"
    method="post"
>
    {% csrf_token %}

    <div class="flex flex-row items-center border-2 border-blue-main">
        <label for="id_username" class="w-40 bg-blue-main px-2 py-1 text-center"
            >Имя пользователя</label
        >
        {{ form.username }}
    </div>
    <div class="flex flex-row items-center border-2 border-blue-main">
        <label for="id_password" class="w-40 bg-blue-main px-2 py-1 text-center"
            >Пароль</label
        >
        {{ form.password }}
    </div>

    <input type="hidden" name="next" value="{{ next }}" />
    <input
        class="w-max bg-blue-btn-default p-1 hover:bg-blue-btn-hover active:bg-blue-btn-onclick"
        type="submit"
        value="Зарегистрироваться"
    />
</form>
{% endblock %}
